@charset "UTF-8";

@font-face {
  font-family: "Neo Sans Cyr";
  src: url("../font/NEORGCYR.eot");
  src: local("Neo Sans Cyr"), url("../font/NEORGCYR.woff") format("woff"), url("../font/NEORGCYR.ttf") format("truetype"), url("../font/NEORGCYR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-size: 16px;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aling-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Neo Sans Cyr", serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.wrapper {
  overflow: hidden;
}

header {
  height: 300px;
}

header .logo img {
  width: 20em;
  height: auto;
}

header .col:last-child {
  padding-right: 10%;
}

header .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages {
  padding-bottom: 100px;
}

.advantages .advantages_item {
  max-width: 170px;
}

.advantages .advantages_item .img_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages .advantages_item .img_container img {
  width: 120px;
  height: auto;
}

.advantages .advantages_item .sub-text {
  margin-top: 15px;
}

.advantages .advantages_item .sub-text p {
  margin-left: 5px !important;
  text-align: center;
  max-width: 140px;
}

.advantages .block_img_vacuum_cleaner {
  min-height: 1000px;
  position: relative;
  margin-top: 8rem;
}

.advantages .block_img_vacuum_cleaner .main_section_img {
  z-index: -10;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50px);
      -ms-transform: translate(-50%, 50px);
          transform: translate(-50%, 50px);
}

.advantages .block_img_vacuum_cleaner .main_section_img img {
  width: 690px;
  height: auto;
}

.advantages .block_img_vacuum_cleaner .advantages_row {
  padding: 66px 0;
}

.advantages .block_img_vacuum_cleaner .advantages_row .block_img img {
  width: 150px;
  height: auto;
}

.advantages .block_img_vacuum_cleaner .advantages_row .block_text {
  width: 100%;
}

.advantages .block_img_vacuum_cleaner .advantages_row .block_text h2,
.advantages .block_img_vacuum_cleaner .advantages_row .block_text p {
  margin-left: 100px;
  max-width: 250px;
}

.advantages .block_img_vacuum_cleaner .advantages_row .block_text .line {
  position: relative;
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.advantages .block_img_vacuum_cleaner .advantages_row .left h2,
.advantages .block_img_vacuum_cleaner .advantages_row .left p {
  margin-left: 55px;
}

.advantages .block_img_vacuum_cleaner .col {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .block_img_vacuum_cleaner .col_zero {
  width: 100%;
}

.advantages .block_img_vacuum_cleaner .one {
  width: 55%;
}

.advantages .block_img_vacuum_cleaner .two {
  width: 114%;
}

.advantages .block_img_vacuum_cleaner .three {
  width: 103%;
}

.advantages .block_img_vacuum_cleaner .four {
  width: 56%;
}

.section_name {
  margin: 20px 0;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_name h1 {
  margin-right: 100px;
}

.section_name .line {
  margin: 10px 0;
  height: 2px;
  width: 100%;
  background-color: #e40d2e;
}

.accessories {
  margin-top: 10px;
}

.accessories .container:first-child .row:last-child {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accessories .container:first-child .row:last-child .col {
  width: 32%;
}

.accessories .container:first-child .row:last-child .col img {
  width: 100%;
  height: auto;
}

.accessories .accessories_item {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accessories .accessories_item .block_text {
  max-width: 50%;
}

.accessories .accessories_item .block_text p {
  font-size: 1.7em;
  line-height: 1.3;
}

.accessories .accessories_item .block_text .line {
  margin: 30px 0;
  height: 2px;
  width: 100%;
  background-color: #e40d2e;
}

.accessories .accessories_item .block_img {
  width: 43%;
}

.accessories .accessories_item .block_img img {
  width: 100%;
  height: auto;
}

.accessories .container:nth-child(2) {
  margin-top: 50px;
}

.img_section {
  margin-top: 20px;
}

.video_reviews .section_name {
  margin: 70px 0;
}

.video_reviews .row:last-child .video_list {
  height: 600px;
  width: 100%;
  margin-bottom: 50px;
}

.video_reviews .row:last-child .video_list iframe {
  height: 600px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }

  header .col:last-child {
    padding-right: 0%;
  }

  .advantages .advantages_item .img_container img {
    width: 100px;
  }

  .advantages .block_img_vacuum_cleaner .advantages_row {
    padding: 66px 0;
  }

  .advantages .block_img_vacuum_cleaner .advantages_row .block_text h2,
  .advantages .block_img_vacuum_cleaner .advantages_row .block_text p {
    margin-left: 100px;
  }

  .advantages .block_img_vacuum_cleaner .advantages_row .left h2,
  .advantages .block_img_vacuum_cleaner .advantages_row .left p {
    margin-left: 30px;
  }

  .advantages .block_img_vacuum_cleaner .one {
    width: 48%;
  }

  .advantages .block_img_vacuum_cleaner .four {
    width: 50%;
  }

  .video_reviews .row:last-child .video_list {
    height: 400px;
  }

  .video_reviews .row:last-child .video_list iframe {
    height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .advantages .block_img_vacuum_cleaner {
    font-size: 12px;
    min-height: 800px;
    margin-top: 5rem;
  }

  .advantages .block_img_vacuum_cleaner .main_section_img {
    right: 0px;
    left: auto;
    -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
            transform: translate(0%);
  }

  .advantages .block_img_vacuum_cleaner .main_section_img img {
    width: auto;
    height: 888px;
  }

  .advantages .block_img_vacuum_cleaner .rigth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .advantages .block_img_vacuum_cleaner .rigth .col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 .col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 .col h2,
  .advantages .block_img_vacuum_cleaner .mobile-rev2 .col p {
    margin-left: 65px !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 .four {
    width: 90%;
  }

  .advantages .block_img_vacuum_cleaner .advantages_row .block_img img {
    width: 100px;
  }

  .advantages .block_img_vacuum_cleaner .advantages_row .block_text h2,
  .advantages .block_img_vacuum_cleaner .advantages_row .block_text p {
    margin-left: 15px;
  }

  .advantages .block_img_vacuum_cleaner .advantages_row .block_text .line {
    margin: 10px 0;
  }

  .advantages .block_img_vacuum_cleaner .one {
    width: 232px;
  }

  .advantages .block_img_vacuum_cleaner .two {
    width: 470px;
  }

  .advantages .block_img_vacuum_cleaner .three {
    width: 600px;
  }

  .accessories .reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }

  .accessories .accessories_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .accessories .accessories_item .block_text {
    max-width: 60%;
    margin: 20px 0;
  }

  .accessories .accessories_item .block_img {
    width: 60%;
  }
}

@media screen and (max-width: 818px) {
  .advantages .block_img_vacuum_cleaner .mobile-rev2 .four {
    width: 76%;
  }
}

@media screen and (max-width: 810px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 2.6em;
  }

  header {
    height: 200px;
  }

  .advantages .advantages_item {
    max-width: 100px;
  }

  .advantages .advantages_item .img_container img {
    width: 80px;
  }
}

@media screen and (max-width: 760px) {
  .advantages .block_img_vacuum_cleaner .mobile-rev2 .four {
    width: 59%;
  }
}

@media screen and (max-width: 736px) {
  .advantages .block_img_vacuum_cleaner .two {
    width: 512px;
  }
}

@media screen and (max-width: 732px) {
  .advantages .block_img_vacuum_cleaner .one {
    width: 246px;
  }
}

@media screen and (max-width: 730px) {
  header {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  .section_name h1 {
    margin-right: 50px;
  }
}

@media screen and (max-width: 690px) {
  .advantages .block_img_vacuum_cleaner .mobile-rev2 .four {
    width: 37%;
  }
}

@media screen and (max-width: 660px) {
  .advantages .block_img_vacuum_cleaner .three {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .advantages .block_img_vacuum_cleaner .mobile-rev1 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev1 .col {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev1 .col h2,
  .advantages .block_img_vacuum_cleaner .mobile-rev1 .col p {
    margin-left: 55px !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev1 .three {
    width: 530px;
  }

  .video_reviews .row:last-child .video_list {
    height: 300px;
  }

  .video_reviews .row:last-child .video_list iframe {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .advantages .block_img_vacuum_cleaner .two {
    width: 595px;
  }
}

@media screen and (max-width: 600px) {
  .advantages .advantages_item {
    width: auto;
    margin: 0 10px;
  }

  .advantages .advantages_item .img_container img {
    width: 60px;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 .four {
    width: 25%;
  }
}

@media screen and (max-width: 570px) {
  .advantages .block_img_vacuum_cleaner .main_section_img {
    margin: 0 auto;
    position: unset;
  }

  .advantages .block_img_vacuum_cleaner .main_section_img img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev1 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev1 .col {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev1 .col h2,
  .advantages .block_img_vacuum_cleaner .mobile-rev1 .col p {
    margin-left: 15px !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev1 .three {
    width: 0;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 .col {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 .col h2,
  .advantages .block_img_vacuum_cleaner .mobile-rev2 .col p {
    margin-left: 15px !important;
  }

  .advantages .block_img_vacuum_cleaner .mobile-rev2 .four {
    width: 0;
  }

  .advantages .block_img_vacuum_cleaner .col_zero {
    width: 0;
  }
}

@media screen and (max-width: 540px) {
  header .logo {
    margin-right: 10px;
  }
}

@media screen and (max-width: 510px) {
  body {
    font-size: 10px;
  }

  header {
    font-size: 8px;
    height: 130px;
  }

  .advantages .advantages_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .accessories .accessories_item .block_text {
    max-width: 100%;
    margin: 20px 0;
  }

  .accessories .accessories_item .block_img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .video_reviews .row:last-child .video_list {
    height: 200px;
  }

  .video_reviews .row:last-child .video_list iframe {
    height: 200px;
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  header {
    font-size: 6px;
  }
}

@media screen and (max-width: 340px) {
  .advantages .advantages_item {
    margin: 0 5px;
  }
}